@media (height:1366px) {
    .Container {
        width: auto;
        height: auto;
        margin: 0;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, auto);
        grid-template-areas: "imginCOn" "hedinCon";
        /*border: solid 2px yellow;*/
        grid-gap: 30px;
        overflow: hidden;
        height: calc(100vh - 30px);
    }
    p {
        width: auto;
        text-align: right;
    }
    .Container img {
        width: auto;
    }
    .text {
        margin: 10px;
    }
}

@media(max-width:800px) {
    .Container {
        width: auto;
        height: auto;
        margin: 10px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, auto);
        grid-template-areas: "imginCOn" "hedinCon";
        /*border: solid 2px yellow;*/
        grid-gap: 30px;
        overflow: hidden;
        margin-bottom: 120px;
    }
    .text {
        margin-top: 5%;
        margin-left: 0%;
    }
    img {
        width: 100%;
        height: 100%;
    }
    p {
        width: auto;
        text-align: right;
    }
}

@media(max-width:280px) {
    .end {
        font-size: 14px;
    }
}